h1= title

div.blockstore_list
  h3 BlockStores (#{stats.num_blockstores})
  - each blockstore in stats.blockstores
    div.obar
      div.ibar(style="width:"+(400*blockstore._size/blockstore._capacity)+"px")
      div.label= blockstore.id

include includes/stats
hr
h3 Peers (#{stats.num_peers})
- each peer in peers
  div(class="peer "+peer.state)
    b #{peer.host}:#{peer.port}
h3 Debugging
  p Random BlockStore: #{random_block.id}
  p TODO: Add a blockstore selection function (could be random)
  p TODO: Add event-driven code to update the size of remote blockstores.
